body{
    background-color: grey;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-japan{
    display:flex;
    background-color: white;
    height: 550px;
    width: 850px;
    justify-content: center;
    align-items: center;



}

.pricken{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}